.hover { // fill free to modify as you prefer
  background-color: #333;
  color: #fff;
  font-size: 14px;
  line-height: 1.4;
  padding: 5px 9px;
  overflow-wrap: break-word;
  inline-size: 150px;
  max-width: 170px;
  max-height: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}