.icons {
  display: none;
  pointer-events: none;
  width: 0;
  height: 0;
  opacity: 0.5;
  transition: opacity 0.25s ease;

  > div {
    position: absolute !important;
    left: 2px;
    top: -8px;
    transform-origin: left center;
    transition: transform 0s ease 0s;
    width: 2cm;
  }
}

.__active {opacity: 1;}
.__compact_inactive {opacity: 0.05;}
.__hidden_opacity {opacity: 0;}
